@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');

$font-family-part-two: 'Palette Mosaic', serif;
$font-family: 'Playfair Display', serif;
$body-bg-color: pink;
$box-bg-color: blue;
$box-border-color: orange;
$alt-bg-color: cyan;

body {
  background-color: $body-bg-color;
}

.game-title {
color: blue;
}

// .slug-sign-up-form {
//   text-align: center;
//   font-family: 'Palette Mosaic', serif;
// }

.box {
  align-items: center;
  background-color: $box-bg-color;
  border: 1px solid $box-border-color;
  color: $box-border-color;
  display: flex;
  font-family: $font-family-part-two;
  height: 80px;
  justify-content: center;
}
.slug-daddy {
  width: 50px;
}
h1 {
  font-family: 'Palette Mosaic', serif;
  text-align: center;
  color: blue;
}
h2 {
  font-family: 'Palette Mosaic', serif;
}

.alt-color {
  background-color: $alt-bg-color;
}